.bigCard__section {
  width: 100%;
  height: 100%;
  border: 1px solid #606C38;
  position: relative;
  -webkit-box-shadow: 2px 2px 1px 1px #606C38;
          box-shadow: 2px 2px 1px 1px #606C38;
}
.bigCard__section .bigCard__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: AnimationBackCard 0.7s ease-in forwards;
          animation: AnimationBackCard 0.7s ease-in forwards;
}
.bigCard__section .bigCard__text {
  position: absolute;
  top: 80%;
  left: 12.5%;
  width: 75%;
  text-align: center;
  z-index: 2;
  text-wrap: none;
  white-space: nowrap;
}
.bigCard__section .bigCard__name {
  color: #bbbbbb;
  font-size: 35px;
  text-align: center;
  -webkit-animation: AnimationBackCardNameBig 0.4s alternate ease;
          animation: AnimationBackCardNameBig 0.4s alternate ease;
}
.bigCard__section .bigCard__container {
  top: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(28%, rgba(96, 108, 56, 0.664)), to(transparent));
  background: linear-gradient(0deg, rgba(96, 108, 56, 0.664) 28%, transparent 100%);
}
.bigCard__section .bigCard__rental {
  font-size: 22px;
  color: #BC6C25;
}
.bigCard__section .bigCard__btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 5;
}

.bigCard__section:hover .bigCard__img {
  -webkit-animation: AnimationHoverCard 0.7s alternate forwards;
          animation: AnimationHoverCard 0.7s alternate forwards;
}

.bigCard__section:hover .bigCard__name {
  -webkit-animation: AnimationHoverCardNameBig 0.3s alternate forwards;
          animation: AnimationHoverCardNameBig 0.3s alternate forwards;
}

@-webkit-keyframes AnimationHoverCardNameBig {
  100% {
    font-size: 37px;
    letter-spacing: 1px;
    color: white;
  }
}

@keyframes AnimationHoverCardNameBig {
  100% {
    font-size: 37px;
    letter-spacing: 1px;
    color: white;
  }
}
@-webkit-keyframes AnimationBackCardNameBig {
  from {
    font-size: 37px;
    letter-spacing: 1px;
    color: white;
  }
  100% {
    color: #bbbbbb;
    font-size: 35px;
  }
}
@keyframes AnimationBackCardNameBig {
  from {
    font-size: 37px;
    letter-spacing: 1px;
    color: white;
  }
  100% {
    color: #bbbbbb;
    font-size: 35px;
  }
}