.middleCard__section{
    width: 49%;
    height: 23vh;
    margin-right: 2%;
    border: 1px solid #606C38;
    position: relative;
    box-shadow: 2px 2px 1px 1px #606C38;
    .middleCard__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .middleCard__text{
        position: absolute;
        top: 70%;
        left: 25%;
        width: 50%;
        text-align: center;
        z-index: 2;
    }
    .middleCard__name{
        color: #bbbbbb;
        font-size: 22px;
        text-align: center;
    }
    .middleCard__container{
        top: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(96, 108, 56, 0.664) 28%, transparent 100%);
    }
    .middleCard__rental{
        font-size: 16px;
        color: #BC6C25;
    }
    .middleCard__btn{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 5;
    }
}


.middleCard__section:hover .middleCard__container{
    animation: AnimationHoverCard 1s alternate forwards;
}
.middleCard__section:hover .middleCard__name{
    color: red;
}

@keyframes AnimationHoverCard {
    100%{
        background: linear-gradient(0deg, rgba(117, 0, 0, 0.664) 28%, transparent 100%);
    }
}