body{
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: darkcyan;
=======
    background-color: rgba(102, 255, 0, 0.582);
>>>>>>> 36d4ee343092b840cd67fe9dad8daa7437e16ba5
=======
    background-color: red;
    border: 3px solid black;
>>>>>>> Front
}

